/* HEADER */

header {
	top: 0;
	margin: auto;
	text-align: center;
	position: fixed;
}

header ul {
	position: absolute;
	padding: 0;
	width: 100vw;
	list-style-type: none;
	z-index: 0;
}

header li {
	background-color: rgb(142, 38, 17);
	border: 2px solid white;
	padding: 0em 1em;
	width: 20%;
	height: 10% vh;
	float: left;
	color: white;
	font-size: 250%;
	margin: 1px;
	margin-left: 5px;
	font-family: ELEGANT TYPEWRITER;
}

header li:hover{
	background-color: rgb(109, 32, 17);
	box-shadow: 4px 4px 4px rgb(79, 59, 55);
}

header li a {
	text-decoration: none;
	color: inherit;
}

header ul ul {
	width: 20%;
	position: absolute;
	display: block;
	z-index: -1;
	display: none;
}

header ul ul li {
	display: block;
	overflow: hidden;
	background-color: rgb(142, 38, 17);
	border: 2px solid white;
	left: -11%;
	padding: 0em 1em;
	width: 20vw;
	height: 5vh;
	color: white;
	font-size: 100%;
	margin: 0px;
	font-family: ELEGANT TYPEWRITER;
	float: none;
	position: relative;
}

header ul li:hover > ul {
	display: block;
	box-shadow: none;
}

header li#current {
	background-color: rgb(109, 32, 17);
	box-shadow: 4px 4px 4px rgb(79, 59, 55);
}
